

/*body fora da div e butonn*/
button{
    font-size: 18pt;
    color: white;
    width: 5cm;
    right: 4cm;
    background-color: blue;
    margin-top: 7cm;
    margin-left: 15.5cm;
}

body{
    background-color: rgb(236, 236, 236);
}

/*h2 referente a ultima parte do codigo*/
h2{
    margin: auto;
}
/*Folha de impressão*/
.info{
    box-shadow: 2px 5px 10px black;
    background-color: white;
    margin: auto;
    width: 21cm;
    height: 29.7cm;
    border: 1px solid black;
}

/*Organização das informações*/
.texto{
    border: none;
    outline: none;
   
}

#pre{
    width: 2cm;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.numero{
    border: none;
    outline: none;
}

#cpf{
    width: 5cm;
    border: none;
    outline: none;
}

#rg{
    width: 5cm;
    border: none;
    outline: none;
}

#val{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    margin-top: 1cm;
    margin-right: 2cm;
    text-align: right;
}

#informacao{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    margin-top: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-bottom: 1pt;
}

#ass{
    display: flex;
    justify-content: space-between;
    width: 15cm;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

#mao{
    width: 15cm;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5cm;
    display: flex;
    justify-content: space-between;
}

#nome{
    width: 17.2cm;
}

input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    text-align: center;
}

#nat{
    width: 3.1cm;
}
#end{
    width: 16.4cm;
}

#cit{
    width: 9.9cm;
}
#estad{
    width: 5cm;
}

/*Layot de impreção*/
